<!DOCTYPE html>
<html ng-app='myApp'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-route.js"></script>

    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <script src="app.js"></script>
    <script src="productCtrl.js"></script>
    <script src="productListSrv.js"></script>

</head>

<body ng-controller="productCtrl">

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link " href="#"> Welcome
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#partners">Partners</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>

                <ul class="navbar-nav">

                    <li class="nav-item active">
                        <a href="login.html" class="nav-link">LOGIN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- <ng-view></ng-view> -->

    <section id="home">
        <div class="container" id="loadHere">
            <div class="row">
                <div class="col-md-12 mb-5 mt-5">
                    <div class="mb-5 mt-5" id="home">

                    </div>

                    <div class="text-center font-weight-bold">
                        <a href="#!/product">
                            <button style="font-size: 1.8rem" class="btn btn-primary" id="create-btn">Get started</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <p class="text-center">Check products and click on the ADD button
            <hr>
        </p>
        <div class="row mt-5">
            <div class="col-md-2 mx-auto">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="Search your product..">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="accordion" id="accordionExample">

                    <div class="card" ng-repeat="product in products | filter : {productName : search}">
                        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#{{product.productName}}" aria-expanded="false" aria-controls="{{product.productName}}">


                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button">
                                    <input type="checkbox" ng-model="product.isActive" class="mr-3">{{product.productName}}
                                </button>
                            </h5>
                        </div>

                        <div id="{{product.productName}}" class="collapse" aria-labelledby="headingOne">
                            <div class="card-body">
                                <dl class="row">
                                    <div class="col-sm-10">
                                        <dt class="col-sm-3">Name:</dt>
                                        <dd class="col-sm-9">{{product.productName}}</dd>


                                        <dt class="col-sm-3">Description</dt>
                                        <dd class="col-sm-9">
                                            <p>{{product.description}}</p>
                                        </dd>

                                        <dt class="col-sm-3">Zone:</dt>
                                        <dd class="col-sm-9">{{product.zone}}</dd>

                                        <dt class="col-sm-3 text-truncate">Brand</dt>
                                        <dd class="col-sm-9">{{product.brand}}</dd>

                                        <dt class="col-sm-3">Price</dt>
                                        <dd class="col-sm-9">{{product.price}}</dd>
                                    </div>
                                    <div class="col-sm-2 my-auto">
                                        <div class="row"></div>
                                        <a href="{{product.image}}">
                                            <img ng-src="{{product.image}}" alt="">
                                        </a>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <div class="text-center font-weight-bold">
                    <a>
                        <button style="font-size: 1.8rem" class="btn btn-info mx-auto" ng-click ="addToCart()">ADD</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <p class="text-center">Approve your list by the CONFIRM button
            <hr>
        </p>

        <div class="row mt-5">
            <div class="col-md-8 mx-auto">
                <ul class="list-group" >
                    <li class="list-group-item"  ng-repeat="product in products">{{product.description}}</li>
                 </ul>
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class="text-center font-weight-bold">
                            <a href="#">
                                <button style="font-size: 1.8rem" class="btn btn-info mx-auto">CONFIRM</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <section id="about" class="">
        <div class="container">
            <h1 class="text-muted">About</h1>
            <hr>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem similique unde quam eaque saepe quod, repudiandae
                minima perspiciatis molestias ipsa officia corrupti, hic nulla porro ipsum sequi labore cupiditate mollitia.Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Autem similique unde quam eaque saepe quod, repudiandae
                minima perspiciatis molestias ipsa officia corrupti, hic nulla porro ipsum sequi labore cupiditate mollitia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem similique unde quam eaque saepe quod, repudiandae
                minima perspiciatis molestias ipsa officia corrupti, hic nulla porro ipsum sequi labore cupiditate mollitia.Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Autem similique unde quam eaque saepe quod, repudiandae
                minima perspiciatis molestias ipsa officia corrupti, hic nulla porro ipsum sequi labore cupiditate mollitia.</p>
        </div>
    </section> -->

    <!-- <section id="List" class="bg-light">
        <div class="container">
            <h1 class="text-muted ">My List</h1>
            <hr>

            <div class="container" >

                <div class="text-muted">
                    You don't have any list(s).
                </div>
                <div class="text-center font-weight-bold">
                    <button style="font-size: 1.8rem" class="btn btn-primary" >Create</button>
                </div>

            </div>
        </div>
    </section> -->

    <!-- <section id="partners" class="bg-light">
        <div class="container">
            <h1 class="text-muted">Partners</h1>
            <hr>
            <div class="row">
                <div class="col-md-12 m-5">
                    <img src="img/motsesim.png" alt="">
                    <img src="img/unnamed.jpg" alt="">
                    <img src="img/download (1).png" alt="">
                    <img src="img/download.png" alt="">
                    <img src="img/6ca953037d5e9cc6ccaa8ffe8eb9b84f.jpg" alt="">
                    <img src="img/Delta_Israel_New_Logo.svg.png" alt="">
                    <img src="img/1280px-צומת_ספרים.svg.png" alt="">
                </div>
            </div>
        </div>

    </section>

    <section id="contact">
        <div class="container">
            <h1 class="text-muted">Contact</h1>
            <hr>
            <div class="row" id="image-hear">
                <div class="col-md-12">
                    <form>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" placeholder="israel israeli" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email:</label>
                            <input type="email" placeholder="israel@israeli.com" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Content</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="We want to hear from you.."></textarea>
                        </div>
                        <div class="form-group" id="btn-container">
                            <button type="button" class="btn btn-outline-primary font-weight-bold ">Send</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
-->
    <!-- <div class="card-footer bg-dark fixed-bottom text-muted text-center">
        CODED BY LIOR-SHMERLING
    </div>  -->


</body>

</html>