body{
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.9rem
}

section{
    min-height: 100vh;
    padding-top: 120px;
}

.btn{
    font-size: 1.1rem;
}

h1{display: block;}

dd{font-size: 0.8em;}

p{line-height: 2em;}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

form{
    border: 1px solid rgb(0, 120, 248,0.3);
    padding: 10px;
    margin:5px auto;
    width:67%;
    position: relative;
    font-size: 0.5em;
}

#btn-container  button{width:100%;}

img{max-width:100%;}

#produntImg{max-width: 40px;}

#partnersImg{max-width: 90px;}

#headingOne{font-size: 1em;}

#home{
    background-image: url(app/img/bg-masthead.jpg);
    background-size: cover; 
    font-family: 'Kirang Haerang', cursive;
}

#about,#contact{background-color:rgba(232, 229, 229, 0.6);}


#image-hear{
    background-position: center center;
    max-width:500px;
    background-image: linear-gradient(rgba(255 ,255, 255, 0.6),rgba(0, 0, 0, 0.6)), url(app/img/31670456-illustration-pregnancy.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.col-sm-10 {width: auto;}

#no-outline{
    text-decoration: none;
}

.nav-link{
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 10px;
    margin-left:1px;
}

@media  screen and (max-width: 600px) {
    #notForSmallScreens{
        display: none;
    }
    .btn{
        font-size: 1.2em;
    }
    #homeContainer{
        margin-top: 150px;
    }

    #produntImg{
        display: none;
    }
}

#exampleModal{

    font-family: 'Shadows Into Light', cursive;
}

