body{
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.6rem
}

section{
    min-height: 100vh;
    padding-top: 120px;
    margin-top:2rem;
}

h1{
    display: block;
}

.card{
    height: 60vh;
}

p{
    line-height: 2em;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

form{
    border: 1px solid rgb(0, 0, 0, 0.1);
    padding: 10px;
    margin:5px auto;
    width:67%;
    position: relative;

}


#btn-container  button{
  width:100%;
}

img{
    max-width:100%;
}

#home{
    height: 50vh;
    background-image: linear-gradient(rgba(255, 254, 254, 0.5),rgba(223, 223, 223, 0.4)), url(cdcadbe371756c939a4c5596b21704ed.png );
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
}

#List{
    font-size: 1.2rem;
}

#image-hear{
    background-image: url(21670456-illustration-pregnancy.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    width:100%;
}

@media screen and (max-width:415px){
    

}