<list-navbar></list-navbar>


<section>

<div class="container">

        <p class="text-center">Check products and click on the ADD button
            <hr>
        </p>
        <div class="row mt-5">
            <div class="col-md-2 mx-auto">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="Search your product..">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="accordion" id="accordionExample">

                    <div class="card" ng-repeat="product in products | filter : {productName : search}">
                        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#{{product.productName}}" aria-expanded="false" aria-controls="{{product.productName}}">


                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button">
                                    <input type="checkbox" ng-model="product.isActive" class="mr-3">{{product.productName}}
                                </button>
                            </h5>
                        </div>

                        <div id="{{product.productName}}" class="collapse" aria-labelledby="headingOne">
                            <div class="card-body">
                                <dl class="row">
                                    <div class="col-sm-10">
                                        <dt class="col-sm-3">Name:</dt>
                                        <dd class="col-sm-9">{{product.productName}}</dd>


                                        <dt class="col-sm-3">Description</dt>
                                        <dd class="col-sm-9">
                                            <p>{{product.description}}</p>
                                        </dd>

                                        <dt class="col-sm-3">Zone:</dt>
                                        <dd class="col-sm-9">{{product.zone}}</dd>

                                        <dt class="col-sm-3 text-truncate">Brand</dt>
                                        <dd class="col-sm-9">{{product.brand}}</dd>

                                        <dt class="col-sm-3">Price</dt>
                                        <dd class="col-sm-9">{{product.price}}</dd>
                                    </div>
                                    <div class="col-sm-2 my-auto">
                                        <div class="row"></div>
                                        <a href="{{product.image}}">
                                            <img ng-src="{{product.image}}" alt="">
                                        </a>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <div class="text-center font-weight-bold">
                    <a ng-href="#!/list">
                        <button style="font-size: 1.8rem" class="btn btn-info mx-auto" ng-click ="addToCart()">ADD</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
